@import url(http://fonts.googleapis.com/css?family=IM+Fell+English);

@font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    src: local('Libre Baskerville 16'),url(//brick.a.ssl.fastly.net/Libre+Baskerville:400,400i) format('woff');
}

body {
  background-color: #FFFAF6;
  color: #111;
  font-family: 'Libre Baskerville', serif;
}

h1, h3 {
  font-family: 'IM Fell English', serif !important;
  color: #c8c8c8;
  font-weight: 400;
}

pre code {
  color: #ccc;
  font-size: 140%;
}

.keyword {
  color: #0086b3 !important;
  font-weight: inherit !important;
}

.tag {
  color: #900 !important;
}

code {
  background-color: inherit;
}

em {
  border-bottom: 1px solid #666;
}

.bg {
	background: url(gris.png);
}