@font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    src: local('Libre Baskerville 16'),url(//brick.a.ssl.fastly.net/Libre+Baskerville:400,400i) format('woff');
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local('Oswald 16'),url(//fonts.googleapis.com/css?family=Oswald&display=swap) format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat 18'),url(//brick.a.ssl.fastly.net/Montserrat:400,700) format('woff');
}

body {
  background-color: #FFFAF6;
  color: #111;
  font-family: 'Montserrat', sans-serif;
}

h1, h3 {
  font-family: 'Oswald', sans-serif;
  color: #1a1a1a;
  font-weight: 700;
}

pre code {
  color: #ccc;
  font-size: 140%;
}

.keyword {
  color: #0086b3 !important;
  font-weight: inherit !important;
}

.tag {
  color: #900 !important;
}

code {
  background-color: inherit;
}

em {
  border-bottom: 1px solid #666;
}

.bg {
	background: url(http://fernanz.github.io/assets/papers.png);
}

img.full{
	width: 100%;
	margin: 0 auto;
}

img.wide {
  max-width: 100%;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  z-index: 0;
}

.slide {
background-image: url('https://www.museoarteyciudad.com/assets/dreamers.svg');
backgroun-repeat: no-repeat;
backgroun-position: right top;
bakground-size: contain;
}
	
	
	
