body {
  background-color: #FFFAF6;
  color: #111;
  font-family: 'Montserrat', sans-serif;
}

h1, h3 {
  font-family: 'Oswald', sans-serif;
  color: #1a1a1a;
  font-weight: 700;
}

pre code {
  color: #ccc;
  font-size: 140%;
}

.keyword {
  color: #0086b3 !important;
  font-weight: inherit !important;
}

.tag {
  color: #900 !important;
}

code {
  background-color: inherit;
}

em {
  border-bottom: 1px solid #666;
}

.bg {
	background: url(https://fernanz.github.io/assets/papers.png);
}

img.full{
	width: 100%;
	margin: 0 auto;
}

img.wide {
  max-width: 100%;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  z-index: 0;
}

.slide {
background-image: url('https://www.museoarteyciudad.com/assets/dreamers.svg');
background-repeat: no-repeat;
background-position: right top;
background-size: 300px;
}

.slide-content {
  width: 1000px;
  height: 800px;
  margin: 0 auto 0 auto;
  padding: 110px 30px 30px 30px;
}

.arrow {
  border: 30px solid rgb(119,136,153);
}

.prev:hover {
  border-right-color: rgba(119,136,153,.5) !important;
}

.next:hover {
  border-left-color: rgba(119,136,153,.5)!important;
}
